html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body , h1  {
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    padding: 0 $main-padding;
    max-width:$max-width;
    margin:0 auto;
}

img {
    max-width:100%;
    display:block;
}