
$main-padding : 30px;
$max-width:1200px;

$light-color: white;

$nav-color:rgb(14, 186, 183);
$nav-hover-color:#042229;

$nav-padding : 30px;
$navItem-padding : 10px;
$nav-height: 80px;
$three-col-width: 32%;


$screen-sm-min :520px;
$screen-md-min: 780px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1440px;